{# @var plugin \healthfirst\hfdashboard\Plugin #}
{# @var settings \healthfirst\hfdashboard\models\Settings #}

<h2></h2>
<div class="box_general padding_bottom">
    <div class="header_box version_2" style="max-width: 200px">
        <h2><i class="fa fa-bar-chart"></i>Statistics</h2>
        <div id="graphdata" data-graph="{{ craft.accessMonitor.getAccessMonitor|json_encode }}"></div>
        <div id="nodata" style="display: none">No Data</div>
        <canvas id="myPieChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{# Use for JS file #}
{# ... #}
